.cards > ul {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards > ul > li {
  background-color: var(--background-color);
  border: 1px solid var(--dark-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}
